.u-section-1 {
  background-image: none;
  min-height: 852px;
}

.u-section-1 .u-shape-1 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 159px);
  left: 0;
  background-image: none;
  right: auto;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-tabs-1 {
  min-height: 814px;
  height: auto;
  width: calc(((100% - 1140px) / 2) + 183px);
  margin: 1px auto 0 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 1057px;
  min-height: 864px;
  animation-duration: 1000ms;
  height: auto;
  margin: -148px -991px -56px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 15px 652px 0 61px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 77px;
  height: auto;
  margin: 15px 199px 0 61px;
}

.u-section-1 .u-tab-pane-2 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 1057px;
  min-height: 874px;
  animation-duration: 1000ms;
  height: auto;
  margin: -158px -991px -57px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 0 617px 0 61px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 31px;
  height: auto;
  margin: 17px 199px 0 61px;
}

.u-section-1 .u-image-1 {
  width: 46px;
  height: 46px;
  animation-duration: 1000ms;
  margin: -851px 0 769px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 159px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tabs-1 {
    width: calc(((100% - 940px) / 2) + 183px);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 665px;
    margin-left: 12px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 219px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 159px);
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-tabs-1 {
    width: calc(((100% - 720px) / 2) + 183px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 457px;
    margin-left: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 4px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 159px);
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-tabs-1 {
    width: calc(((100% - 540px) / 2) + 183px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 277px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 159px);
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-tabs-1 {
    width: calc(((100% - 340px) / 2) + 183px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
  }
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}