.u-section-1 {
  background-image: none;
  min-height: 1097px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 30px auto 60px calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 677px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-1 {
  height: 680px;
  background-image: linear-gradient(rgba(0,0,0,0.53), black);
  margin: -678px auto 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 490px;
  margin-top: -71px;
  margin-bottom: 0;
}

.u-section-1 .u-tab-pane-1 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-slider-1 {
  min-height: 443px;
  width: 1282px;
  margin: 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/1.png");
  margin: 9px auto 0 88px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 71px 9px 0;
}

.u-section-1 .u-image-3 {
  min-height: 125px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/2.png");
  width: 269px;
  margin: -125px auto 0 370px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 66px 9px 0;
}

.u-section-1 .u-image-4 {
  min-height: 125px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/canvas.png");
  background-position: 50% 50%;
  width: 269px;
  margin: -125px auto 0 648px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 88px 9px 0;
}

.u-section-1 .u-image-5 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/4.png");
  background-position: 50% 50%;
  margin: -125px 87px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 71px 9px 0;
}

.u-section-1 .u-image-6 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/5.png");
  background-position: 50% 50%;
  margin: 9px auto 0 87px;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 69px 9px 0;
}

.u-section-1 .u-image-7 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/6.png");
  background-position: 50% 50%;
  margin: -125px auto 0 370px;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 71px 9px 0;
}

.u-section-1 .u-image-8 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/7.png");
  background-position: 50% 50%;
  margin: -125px 365px 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 71px 9px 0;
}

.u-section-1 .u-image-9 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/8.png");
  background-position: 50% 50%;
  margin: -125px 87px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-8 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 71px 9px 0;
}

.u-section-1 .u-image-10 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/9.png");
  background-position: 50% 50%;
  margin: 9px auto 0 87px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-9 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 69px 9px 0;
}

.u-section-1 .u-image-11 {
  min-height: 125px;
  width: 269px;
  animation-duration: 1000ms;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/10.png");
  background-position: 50% 50%;
  margin: -125px auto 0 370px;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-10 {
  font-family: calibri-bold;
  font-size: 1.5rem;
  margin: 69px 9px 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
  background-image: none;
  left: 604px;
  position: absolute;
  top: -35px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
  background-image: none;
  left: auto;
  position: absolute;
  top: -35px;
  right: 600px;
}

.u-section-1 .u-text-11 {
  margin: -747px calc(((100% - 1140px) / 2) + 660px) 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-image-12 {
  width: 294px;
  height: 196px;
  margin: -428px auto 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-text-12 {
  font-family: calibri-bold;
  margin: 0 calc(((100% - 1140px) / 2) + 1126px) 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-group-12 {
  width: 68px;
  min-height: 31px;
  margin: -28px auto 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-13 {
  font-family: calibri-bold;
  margin: -1px -8px 0 20px;
}

.u-section-1 .u-text-14 {
  font-family: calibri-bold;
  margin: -27px calc(((100% - 1140px) / 2) + 927px) 0 calc(((100% - 1140px) / 2) + 91px);
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 60px calc(((100% - 1140px) / 2) + -38px);
  padding: 9px 21px 11px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1209px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + -38px);
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 669px;
    height: auto;
    margin-top: -200px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 687px;
    width: 940px;
    height: auto;
    margin-bottom: -64px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
    min-height: 159px;
    margin-top: 0;
    margin-left: 37px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    background-position: 50% 50%;
    min-height: 159px;
    margin-top: -159px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 96px;
  }

  .u-section-1 .u-image-4 {
    min-height: 159px;
    margin-top: -159px;
    margin-right: 37px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-image-5 {
    min-height: 159px;
    margin-top: 14px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-6 {
    min-height: 159px;
    margin-top: -164px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-7 {
    min-height: 159px;
    margin-top: -159px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-8 {
    min-height: 159px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-9 {
    min-height: 159px;
    margin-top: -164px;
    margin-right: auto;
    margin-left: 333px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-image-10 {
    min-height: 15px;
    margin-top: -159px;
    margin-right: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-11 {
    min-height: 157px;
    margin-top: 18px;
    margin-left: 44px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 336px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 336px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -832px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 345px);
  }

  .u-section-1 .u-image-12 {
    margin-top: -366px;
    margin-left: calc(((100% - 940px) / 2) + -26px);
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 50px;
    margin-right: calc(((100% - 940px) / 2) + 826px);
    margin-left: calc(((100% - 940px) / 2) + 62px);
  }

  .u-section-1 .u-group-12 {
    margin-top: -31px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -24px;
    margin-right: calc(((100% - 940px) / 2) + 752px);
    margin-left: calc(((100% - 940px) / 2) + 114px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2) + -26px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1038px;
    margin-top: -228px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 991px;
    width: 802px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 43px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 43px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -9px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: -9px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -159px;
    margin-right: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 9px;
    margin-left: 42px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 42px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 9px;
    margin-left: 42px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -159px;
    margin-right: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    min-height: 155px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -155px;
    margin-right: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 312px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 312px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1167px;
    margin-right: calc(((100% - 720px) / 2) + 102px);
    margin-left: calc(((100% - 720px) / 2) + -38px);
  }

  .u-section-1 .u-image-12 {
    width: 209px;
    height: 139px;
    margin-top: -337px;
    margin-left: calc(((100% - 720px) / 2) + -38px);
  }

  .u-section-1 .u-text-12 {
    margin-top: 13px;
    margin-right: calc(((100% - 720px) / 2) + 542px);
    margin-left: calc(((100% - 720px) / 2) + 126px);
  }

  .u-section-1 .u-group-12 {
    margin-top: -28px;
    margin-left: calc(((100% - 720px) / 2) + -34px);
  }

  .u-section-1 .u-text-14 {
    margin-top: -27px;
    margin-right: calc(((100% - 720px) / 2) + 603px);
    margin-left: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-left: calc(((100% - 720px) / 2) + -38px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1557px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1106px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 1059px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    min-height: 159px;
  }

  .u-section-1 .u-image-11 {
    min-height: 159px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 277px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 277px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1234px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 540px) / 2) + -38px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2) + 452px);
    margin-left: calc(((100% - 540px) / 2) + 36px);
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 540px) / 2) + -34px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + 378px);
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2) + 88px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-right: 71px;
    margin-left: 44px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-left: 44px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: 0;
  }

  .u-section-1 .u-image-10 {
    margin-top: 0;
  }

  .u-section-1 .u-image-11 {
    margin-top: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-12 {
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + -38px);
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2) + 288px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-12 {
    margin-top: 0;
    margin-left: calc(((100% - 340px) / 2) + -34px);
  }

  .u-section-1 .u-text-14 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2) + 266px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-2 {
  background-image: url("images/blurred-gradient-abstract-background-with-vivid-primary-colors.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 1014px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 960px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 277px;
    height: 492px;
    margin: 22px -17px 60px auto;
  }
}div.gfsc {
  overflow: scroll;
  height: 300px;
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}