.u-section-1 {
  background-image: none;
  min-height: 1213px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 1087px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}.u-section-2 {
  min-height: 1213px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}.u-section-3 {
  min-height: 1213px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}.u-section-4 {
  min-height: 1213px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    height: auto;
  }
}.u-section-5 {
  min-height: 1213px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 712px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    height: auto;
  }
}.u-section-6 {
  min-height: 1213px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 712px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
}.u-section-7 {
  min-height: 1213px;
}

.u-section-7 .u-custom-html-1 {
  min-height: 712px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    height: auto;
  }
}.u-section-8 {
  min-height: 1213px;
}

.u-section-8 .u-custom-html-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-custom-html-1 {
    height: auto;
  }
}.u-section-9 {
  min-height: 1213px;
}

.u-section-9 .u-custom-html-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-custom-html-1 {
    height: auto;
  }
}.u-section-10 {
  min-height: 1213px;
}

.u-section-10 .u-custom-html-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-custom-html-1 {
    height: auto;
  }
}.vjs-theme-city {
  
  
}
.vjs-theme-city .vjs-control-bar {
  height: 70px;
  padding-top: 20px;
  background: none;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}
.vjs-theme-city .vjs-button > .vjs-icon-placeholder::before {
  line-height: 50px;
}
.vjs-theme-city .vjs-play-progress::before {
  display: none;
}
.vjs-theme-city .vjs-progress-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.vjs-theme-city .vjs-progress-control .vjs-progress-holder {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.vjs-theme-city .vjs-play-progress {
  background-color: #bf3b4d;
}
.vjs-theme-city .vjs-remaining-time {
  order: 1;
  line-height: 50px;
  flex: 3;
  text-align: left;
}
.vjs-theme-city .vjs-play-control {
  order: 2;
  flex: 8;
  font-size: 1.75em;
}
.vjs-theme-city .vjs-volume-panel,
.vjs-theme-city .vjs-picture-in-picture-control,
.vjs-theme-city .vjs-fullscreen-control {
  order: 3;
  flex: 1;
}
/* Volume stuff */
.vjs-theme-city .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}
.vjs-theme-city .vjs-mute-control {
  display: none;
}
.vjs-theme-city .vjs-volume-panel {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 1.5em;
}
.vjs-theme-city .vjs-volume-panel,
.vjs-theme-city .vjs-volume-panel:hover,
.vjs-theme-city .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.vjs-theme-city .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-city .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-city .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-city .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.vjs-theme-city .vjs-volume-bar.vjs-slider-horizontal {
  width: 3em;
}
.vjs-theme-city .vjs-volume-level::before {
  font-size: 1em;
}
.vjs-theme-city .vjs-volume-panel .vjs-volume-control {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.vjs-theme-city .vjs-volume-bar {
  background-color: transparent;
  margin: 0;
}
.vjs-theme-city .vjs-slider-horizontal .vjs-volume-level {
  height: 100%;
}
.vjs-theme-city .vjs-volume-bar.vjs-slider-horizontal {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.vjs-theme-city .vjs-volume-bar::before {
  content: '';
  z-index: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 0;
  border-style: solid;
  border-width: 0 0 1.75em 3em;
  border-color: transparent transparent rgba(255, 255, 255, 0.25) transparent;
}
.vjs-theme-city .vjs-volume-level {
  overflow: hidden;
  background-color: transparent;
}
.vjs-theme-city .vjs-volume-level::before {
  content: '';
  z-index: 1;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0 0 1.75em 3em;
  border-color: transparent transparent #fff transparent;
}
.video-js.vjs-theme-city {
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}